
   [Parameters]

# BR (2l -> 2e/2mu/emu) * selection efficiency
# include reco+id+trigger efficiency syst on the leptons + JV syst.
eff_sig_ee = 0.0250 +/- 0.0018 C L(0 - 1)
eff_sig_mm = 0.0392 +/- 0.0028 C L(0 - 1)
eff_sig_em = 0.0682 +/- 0.0051 C L(0 - 1)

#eff_WW_ee = 0.0049 C L(0 - 1)
#eff_WW_mm = 0.0082 C L(0 - 1)
#eff_WW_em = 0.0468 C L(0 - 1)


# YIELDS #

# for 1fb -1
N_sig_2l2nu =  81 +/- 85.901 L(0 - 900000) 
#N_WW_2l2nu = 4657 L (0 - 10000)

# backgrounds still unconstrained
N_WW_ee =  0.66 +/- 62.073 L(0 - 900000) 
N_ttbar_ee =  3.5 +/- 89.756  L(0 - 10000) 
N_other_ee =  3910 L(0 - 1000000) 

N_WW_mm =  0.88 +/- 62.073 L(0 - 900000) 
N_ttbar_mm =  12 +/- 89.756 L(0 - 10000) 
N_other_mm =  7086 L(0 - 1000000) 

N_WW_em =  2.54 +/- 62.073 L(0 - 900000) 
N_ttbar_em =  18 +/- 89.756 L(0 - 10000) 
N_other_em =  38 +/- 0.90510 L(0 - 1000000) 

