
   [Parameters]

# === EE CHANNEL === #
WW_ee_deltaPhi_mean =  106.92 +/- 95.962 C L(0 - 180) 
WW_ee_deltaPhi_sigmaL =  68.145 +/- 56.858 C L(5 - 100) 
WW_ee_deltaPhi_sigmaR =  99.919 +/- 89.847 C L(5 - 100) 
WW_ee_deltaPhi_alphaL =  0.013820 +/- 31.604 C L(0 - 40) 
WW_ee_deltaPhi_alphaR =  0.0075054 +/- 28.230 C L(0 - 40) 

ttbar_ee_deltaPhi_mean =  66.087 +/- 137.81 C L(0 - 180) 
ttbar_ee_deltaPhi_sigma =  66.198 +/- 66.461 C L(0 - 100) 

other_ee_deltaPhi_mean =  200.37 +/- 19.309 C L(150 - 300) 
other_ee_deltaPhi_sigmaL =  19.301 +/- 4.3984  L(5 - 100) 
other_ee_deltaPhi_sigmaR =  0.010000 +/- 1.6127 C L(0 - 1) 
other_ee_deltaPhi_alphaL =  0.098301 +/- 0.029228 C L(0 - 40) 
other_ee_deltaPhi_alphaR =  0.10000 +/- 0.054471 C L(0 - 40) 

# PT MAX 
WW_ee_maxPt_mean =  32.883 +/- 21.438 C L(20 - 50) 
WW_ee_maxPt_sigmaL =  3.2651 +/- 74.412 C L(3 - 80) 
WW_ee_maxPt_sigmaR =  11.111 +/- 19.162 C L(3 - 80) 
WW_ee_maxPt_alphaL =  0.0051638 +/- 9.6125 C L(0 - 10) 
WW_ee_maxPt_alphaR =  0.076522 +/- 1.0668 C L(0 - 10) 

ttbar_ee_maxPt_mean =  33.775 +/- 13.155 C L(30 - 50) 
ttbar_ee_maxPt_sigmaL =  3.0000 +/- 33.760 C L(3 - 50) 
ttbar_ee_maxPt_sigmaR =  23.510 +/- 31.652 C L(3 - 50) 
ttbar_ee_maxPt_alphaL =  0.0013587 +/- 6.8116 C L(0 - 10) 
ttbar_ee_maxPt_alphaR =  0.00000014660 +/- 9.9945 C L(0 - 10) 

other_ee_maxPt_mean =  32.508 +/- 1.0901   L(20 - 50) 
other_ee_maxPt_sigmaL =  3.2915 +/- 0.63612   L(3 - 50) 
other_ee_maxPt_sigmaR =  6.4340 +/- 0.93248   L(3 - 50) 
other_ee_maxPt_alphaL =  0.0000012393 +/- 0.039215  L(0 - 10) 
other_ee_maxPt_alphaR =  0.049765 +/- 0.040346  L(0 - 10) 

# PROJ. MET
WW_ee_projMet_mean =  61.850 +/- 37.672 C L(20 - 80) 
WW_ee_projMet_sigmaL =  46.167 +/- 55.153 C L(3 - 80) 
WW_ee_projMet_sigmaR =  8.3196 +/- 72.856 C L(3 - 80) 
WW_ee_projMet_alphaL =  0.17223 +/- 8.8141 C L(0 - 10) 
WW_ee_projMet_alphaR =  0.11702 +/- 0.81274 C L(0 - 10) 

ttbar_ee_projMet_mean =  35.164 +/- 95.526 C L(0 - 180) 
ttbar_ee_projMet_sigma =  21.627 +/- 66.109 C L(5 - 100) 

other_ee_projMet_mean =  0.25707 +/- 3.7762 C L(0 - 20) 
other_ee_projMet_sigmaL =  10.051 +/- 0.11406 C L(3 - 100) 
other_ee_projMet_sigmaR =  6.1851 +/- 1.0615   L(3 - 30) 
other_ee_projMet_alphaL =  0.0000000069176 +/- 0.0026527 C L(0 - 10) 
other_ee_projMet_alphaR =  0.070700 +/- 0.033741 C L(0 - 10) 



# === MM CHANNEL === #

sig_mm_deltaPhi_mean =  26.176 +/- 101.84 C L(0 - 180) 
sig_mm_deltaPhi_sigmaL =  16.165 +/- 80.165 C L(10 - 100) 
sig_mm_deltaPhi_sigmaR =  50.173 +/- 37.528 C L(30 - 100) 
sig_mm_deltaPhi_alphaL =  1.5284 +/- 30.224 C L(0 - 40) 
sig_mm_deltaPhi_alphaR =  0.14768 +/- 32.063 C L(0 - 40) 

WW_mm_deltaPhi_mean =  106.49 +/- 57.115 C L(60 - 140) 
WW_mm_deltaPhi_sigmaL =  49.518 +/- 65.766 C L(5 - 100) 
WW_mm_deltaPhi_sigmaR =  20.056 +/- 79.804 C L(20 - 100) 
WW_mm_deltaPhi_alphaL =  0.44712 +/- 25.734 C L(0 - 40) 
WW_mm_deltaPhi_alphaR =  4.0813 +/- 36.100 C L(0 - 40) 

ttbar_mm_deltaPhi_mean =  27.080 +/- 61.682 C L(20 - 100) 
ttbar_mm_deltaPhi_sigmaL =  5.0375 +/- 135.97 C L(5 - 200) 
ttbar_mm_deltaPhi_sigmaR =  42.050 +/- 63.576 C L(5 - 100) 
ttbar_mm_deltaPhi_alphaL =  1.6631 +/- 33.024 C L(0 - 40) 
ttbar_mm_deltaPhi_alphaR =  0.65821 +/- 6.0964 C L(0 - 40) 

other_mm_deltaPhi_mean =  191.13 +/- 2.7917  C L(150 - 300) 
other_mm_deltaPhi_sigmaL =  15.871 +/- 0.60394  L(5 - 100) 
other_mm_deltaPhi_sigmaR =  0.010000 +/- 0.22525 C L(0 - 1) 
other_mm_deltaPhi_alphaL =  0.13453 +/- 0.0061543  L(0 - 40) 
other_mm_deltaPhi_alphaR =  1.5785 +/- 38.815 C L(0 - 40) 


# PT MAX 
sig_mm_maxPt_mean =  39.300 +/- 8.4619 C L(39 - 50) 
sig_mm_maxPt_sigmaL =  5.2661 +/- 24.552 C L(3 - 50) 
sig_mm_maxPt_sigmaR =  5.8816 +/- 34.692 C L(3 - 50) 
sig_mm_maxPt_alphaL =  0.0021352 +/- 9.2828 C L(0 - 10) 
sig_mm_maxPt_alphaR =  0.13622 +/- 0.35264 C L(0 - 10) 

WW_mm_maxPt_mean =  34.022 +/- 21.416 C L(20 - 50) 
WW_mm_maxPt_sigmaL =  3.6953 +/- 49.235 C L(3 - 80) 
WW_mm_maxPt_sigmaR =  10.596 +/- 14.774 C L(3 - 80) 
WW_mm_maxPt_alphaL =  0.00018568 +/- 8.7654 C L(0 - 10) 
WW_mm_maxPt_alphaR =  0.091414 +/- 0.39165 C L(0 - 10) 

ttbar_mm_maxPt_mean =  50.000 +/- 29.937 C L(50 - 80) 
ttbar_mm_maxPt_sigmaL =  11.902 +/- 27.611 C L(3 - 50) 
ttbar_mm_maxPt_sigmaR =  11.813 +/- 24.921 C L(3 - 50) 
ttbar_mm_maxPt_alphaL =  0.0000050671 +/- 9.0418 C L(0 - 10) 
ttbar_mm_maxPt_alphaR =  0.15821 +/- 0.76157 C L(0 - 10) 

other_mm_maxPt_mean =  32.281 +/- 0.99338  L(25 - 50) 
other_mm_maxPt_sigmaL =  3.2773 +/- 0.57259  L(3 - 50) 
other_mm_maxPt_sigmaR =  6.6188 +/- 0.73130  L(3 - 50) 
other_mm_maxPt_alphaL =  0.00000000012893 +/- 0.020670  L(0 - 10) 
other_mm_maxPt_alphaR =  0.084229 +/- 0.021041  L(0 - 10) 


# PROJ. MET
sig_mm_projMet_mean =  68.700 +/- 48.229 C L(0 - 180) 
sig_mm_projMet_sigmaL =  14.813 +/- 60.003 C L(5 - 100) 
sig_mm_projMet_sigmaR =  7.1062 +/- 90.160 C L(5 - 100) 
sig_mm_projMet_alphaL =  0.19615 +/- 1.7836 C L(0 - 40) 
sig_mm_projMet_alphaR =  0.095150 +/- 1.2102 C L(0 - 40) 

WW_mm_projMet_mean =  61.606 +/- 50.795 C L(20 - 80) 
WW_mm_projMet_sigmaL =  25.596 +/- 44.137 C L(3 - 80) 
WW_mm_projMet_sigmaR =  10.409 +/- 40.996 C L(3 - 80) 
WW_mm_projMet_alphaL =  1.0894 +/- 7.8659 C L(0 - 10) 
WW_mm_projMet_alphaR =  0.11611 +/- 0.48553 C L(0 - 10) 

ttbar_mm_projMet_mean =  70.001 +/- 24.854 C L(60 - 180) 
ttbar_mm_projMet_sigmaL =  17.460 +/- 6.7782 C L(5 - 18) 
ttbar_mm_projMet_sigmaR =  14.192 +/- 21.197 C L(5 - 100) 
ttbar_mm_projMet_alphaL =  0.60760 +/- 2.9160 C L(0 - 40) 
ttbar_mm_projMet_alphaR =  0.11666 +/- 1.1911 C L(0 - 40) 

other_mm_projMet_mean =  0.000039521 +/- 3.3289 C L(0 - 20) 
other_mm_projMet_sigmaL =  10.051 +/- 0.11406 C L(3 - 100) 
other_mm_projMet_sigmaR =  6.1182 +/- 0.35245  L(3 - 30) 
other_mm_projMet_alphaL =  0.0000000069176 +/- 0.0026527 C L(0 - 10) 
other_mm_projMet_alphaR =  0.077445 +/- 0.018412 C L(0 - 10) 





# === EM CHANNEL === #
sig_em_deltaPhi_mean =  26.176 +/- 101.84 C L(0 - 180) 
sig_em_deltaPhi_sigmaL =  16.165 +/- 80.165 C L(10 - 100) 
sig_em_deltaPhi_sigmaR =  50.173 +/- 37.528 C L(30 - 100) 
sig_em_deltaPhi_alphaL =  1.5284 +/- 30.224 C L(0 - 40) 
sig_em_deltaPhi_alphaR =  0.14768 +/- 32.063 C L(0 - 40) 

WW_em_deltaPhi_mean =  106.49 +/- 57.115 C L(60 - 140) 
WW_em_deltaPhi_sigmaL =  49.518 +/- 65.766 C L(5 - 100) 
WW_em_deltaPhi_sigmaR =  20.056 +/- 79.804 C L(20 - 100) 
WW_em_deltaPhi_alphaL =  0.44712 +/- 25.734 C L(0 - 40) 
WW_em_deltaPhi_alphaR =  4.0813 +/- 36.100 C L(0 - 40) 

ttbar_em_deltaPhi_mean =  27.080 +/- 61.682 C L(20 - 100) 
ttbar_em_deltaPhi_sigmaL =  5.0375 +/- 135.97 C L(5 - 200) 
ttbar_em_deltaPhi_sigmaR =  42.050 +/- 63.576 C L(5 - 100) 
ttbar_em_deltaPhi_alphaL =  1.6631 +/- 33.024 C L(0 - 40) 
ttbar_em_deltaPhi_alphaR =  0.65821 +/- 6.0964 C L(0 - 40) 

other_em_deltaPhi_mean =  191.13 +/- 2.7917  C L(150 - 300) 
other_em_deltaPhi_sigmaL =  15.871 +/- 0.60394  L(5 - 100) 
other_em_deltaPhi_sigmaR =  0.010000 +/- 0.22525 C L(0 - 1) 
other_em_deltaPhi_alphaL =  0.13453 +/- 0.0061543  L(0 - 40) 
other_em_deltaPhi_alphaR =  1.5785 +/- 38.815 C L(0 - 40) 


# PT MAX 
sig_em_maxPt_mean =  39.300 +/- 8.4619 C L(39 - 50) 
sig_em_maxPt_sigmaL =  5.2661 +/- 24.552 C L(3 - 50) 
sig_em_maxPt_sigmaR =  5.8816 +/- 34.692 C L(3 - 50) 
sig_em_maxPt_alphaL =  0.0021352 +/- 9.2828 C L(0 - 10) 
sig_em_maxPt_alphaR =  0.13622 +/- 0.35264 C L(0 - 10) 

WW_em_maxPt_mean =  34.022 +/- 21.416 C L(20 - 50) 
WW_em_maxPt_sigmaL =  3.6953 +/- 49.235 C L(3 - 80) 
WW_em_maxPt_sigmaR =  10.596 +/- 14.774 C L(3 - 80) 
WW_em_maxPt_alphaL =  0.00018568 +/- 8.7654 C L(0 - 10) 
WW_em_maxPt_alphaR =  0.091414 +/- 0.39165 C L(0 - 10) 

ttbar_em_maxPt_mean =  50.000 +/- 29.937 C L(50 - 80) 
ttbar_em_maxPt_sigmaL =  11.902 +/- 27.611 C L(3 - 50) 
ttbar_em_maxPt_sigmaR =  11.813 +/- 24.921 C L(3 - 50) 
ttbar_em_maxPt_alphaL =  0.0000050671 +/- 9.0418 C L(0 - 10) 
ttbar_em_maxPt_alphaR =  0.15821 +/- 0.76157 C L(0 - 10) 

other_em_maxPt_mean =  32.281 +/- 0.99338  L(25 - 50) 
other_em_maxPt_sigmaL =  3.2773 +/- 0.57259  L(3 - 50) 
other_em_maxPt_sigmaR =  6.6188 +/- 0.73130  L(3 - 50) 
other_em_maxPt_alphaL =  0.00000000012893 +/- 0.020670  L(0 - 10) 
other_em_maxPt_alphaR =  0.084229 +/- 0.021041  L(0 - 10) 


# PROJ. MET
sig_em_projMet_mean =  68.700 +/- 48.229 C L(0 - 180) 
sig_em_projMet_sigmaL =  14.813 +/- 60.003 C L(5 - 100) 
sig_em_projMet_sigmaR =  7.1062 +/- 90.160 C L(5 - 100) 
sig_em_projMet_alphaL =  0.19615 +/- 1.7836 C L(0 - 40) 
sig_em_projMet_alphaR =  0.095150 +/- 1.2102 C L(0 - 40) 

WW_em_projMet_mean =  61.606 +/- 50.795 C L(20 - 80) 
WW_em_projMet_sigmaL =  25.596 +/- 44.137 C L(3 - 80) 
WW_em_projMet_sigmaR =  10.409 +/- 40.996 C L(3 - 80) 
WW_em_projMet_alphaL =  1.0894 +/- 7.8659 C L(0 - 10) 
WW_em_projMet_alphaR =  0.11611 +/- 0.48553 C L(0 - 10) 

ttbar_em_projMet_mean =  70.001 +/- 24.854 C L(60 - 180) 
ttbar_em_projMet_sigmaL =  17.460 +/- 6.7782 C L(5 - 18) 
ttbar_em_projMet_sigmaR =  14.192 +/- 21.197 C L(5 - 100) 
ttbar_em_projMet_alphaL =  0.60760 +/- 2.9160 C L(0 - 40) 
ttbar_em_projMet_alphaR =  0.11666 +/- 1.1911 C L(0 - 40) 

other_em_projMet_mean =  0.000039521 +/- 3.3289 C L(0 - 20) 
other_em_projMet_sigmaL =  10.051 +/- 0.11406 C L(3 - 100) 
other_em_projMet_sigmaR =  6.1182 +/- 0.35245  L(3 - 30) 
other_em_projMet_alphaL =  0.0000000069176 +/- 0.0026527 C L(0 - 10) 
other_em_projMet_alphaR =  0.077445 +/- 0.018412 C L(0 - 10) 

# the bit to distinguish the finalstate
finalstate_ee_njets = 0 C L(0 - 2)
finalstate_mm_njets = 1 C L(0 - 2)
finalstate_em_njets = 2 C L(0 - 2)

# BR (2l -> 2e/2mu/emu) * selection efficiency
# include reco+id+trigger efficiency syst on the leptons + JV syst.
eff_sig_ee = 0.024 +/- 0.0018 C L(0 - 1)
eff_sig_mm = 0.043 +/- 0.0028 C L(0 - 1)
eff_sig_em = 0.070 +/- 0.0051 C L(0 - 1)

# YIELDS #

# for 1fb -1
N_sig_2l2nu =  399 +/- 85.901 L(0 - 900000) 

# backgrounds still unconstrained
N_WW_ee =  22.6 +/- 62.073 L(0 - 900000) 
N_ttbar_ee =  1.3 +/- 89.756  L(0 - 10000) 
N_other_ee =  5920 L(0 - 1000000) 

N_WW_mm =  38 +/- 62.073 L(0 - 900000) 
N_ttbar_mm =  7.9 +/- 89.756 L(0 - 10000) 
N_other_mm =  10690 L(0 - 1000000) 

N_WW_em =  218 +/- 62.073 L(0 - 900000) 
N_ttbar_em =  36 +/- 89.756 L(0 - 10000) 
N_other_em =  521 +/- 0.90510 L(0 - 1000000) 


   [Observables]

jetcat = 0  C L(0 - 1)
projMet   = 40 C L(0 - 250)
deltaPhi = 10 C L(0 - 180)
maxPtEle = 20 C L(0 - 150)
eleInvMass = 10 C L(0 - 150)
bTagImpPar = 1 C L(-1000 - 2)
weight = 1 C L(-100 - 10000)   
finalstate = 2 C L(0 - 2)
