
   [Parameters]
sig_deltaPhi_mean =  22.225 +/- 3.5415 L(0 - 180) 
sig_deltaPhi_sigmaL =  8.1287 +/- 5.9032 L(5 - 100) 
sig_deltaPhi_sigmaR =  45.553 +/- 3.6703 L(5 - 100) 
sig_deltaPhi_alphaL =  1.4784 +/- 0.63803 L(0 - 40) 
sig_deltaPhi_alphaR =  0.20336 +/- 0.036567 L(0 - 40) 
WW_deltaPhi_mean =  0.10000 C L(-INF - +INF) 
WW_deltaPhi_sigmaL =  0.10000 C L(-INF - +INF) 
WW_deltaPhi_sigmaR =  0.10000 C L(-INF - +INF) 
WW_deltaPhi_alphaL =  0.10000 C L(-INF - +INF) 
WW_deltaPhi_alphaR =  0.10000 C L(-INF - +INF) 
ttbar_deltaPhi_p1 =  0.0000 C L(-100 - 100) 
ttbar_deltaPhi_p2 =  0.0000 C L(-100 - 100) 
Z_deltaPhi_exp =  0.0000 C L(-2 - 2) 
other_deltaPhi_mean1 =  0.0000 C L(-INF - +INF) 
other_deltaPhi_mean2 =  0.0000 C L(-INF - +INF) 
other_deltaPhi_sigma1 =  1.0000 C L(-INF - +INF) 
other_deltaPhi_sigma2 =  1.0000 C L(-INF - +INF) 
other_deltaPhi_f1 =  0.50000 C L(-INF - +INF) 
sig_maxPt_mean =  39.434 +/- 0.47954 L(10 - 50) 
sig_maxPt_sigmaL =  5.4024 +/- 0.28489 L(3 - 50) 
sig_maxPt_sigmaR =  9.2870 +/- 0.39580 L(3 - 50) 
sig_maxPt_alphaL =  0.00000038658 +/- 0.011543 L(0 - 10) 
sig_maxPt_alphaR =  0.14463 +/- 0.0060125 L(0 - 10) 
WW_maxPt_mean =  20.000 C L(10 - 50) 
WW_maxPt_sigmaL =  10.000 C L(3 - 50) 
WW_maxPt_sigmaR =  10.000 C L(3 - 50) 
WW_maxPt_alphaL =  0.30000 C L(0 - 10) 
WW_maxPt_alphaR =  0.30000 C L(0 - 10) 
ttbar_maxPt_mean =  20.000 C L(10 - 50) 
ttbar_maxPt_sigmaL =  10.000 C L(3 - 50) 
ttbar_maxPt_sigmaR =  10.000 C L(3 - 50) 
ttbar_maxPt_alphaL =  0.30000 C L(0 - 10) 
ttbar_maxPt_alphaR =  0.30000 C L(0 - 10) 
Z_maxPt_mean =  0.10000 C L(-2 - 2) 
Z_maxPt_sigmaL =  0.10000 C L(-2 - 2) 
Z_maxPt_sigmaR =  0.10000 C L(-2 - 2) 
Z_maxPt_alphaL =  0.10000 C L(-2 - 2) 
Z_maxPt_alphaR =  0.10000 C L(-2 - 2) 
other_maxPt_mean =  20.000 C L(10 - 50) 
other_maxPt_sigmaL =  10.000 C L(3 - 50) 
other_maxPt_sigmaR =  10.000 C L(3 - 50) 
other_maxPt_alphaL =  0.30000 C L(0 - 10) 
other_maxPt_alphaR =  0.30000 C L(0 - 10) 
sig_mll_mean =  37.502 +/- 2.0287 L(10 - 50) 
sig_mll_sigmaL =  21.556 +/- 3.1583 L(3 - 50) 
sig_mll_sigmaR =  23.597 +/- 1.0634 L(3 - 50) 
sig_mll_alphaL =  0.00000035813 +/- 0.16771 L(0 - 10) 
sig_mll_alphaR =  0.0000000028456 +/- 0.0044000 L(0 - 10) 
WW_mll_mean =  26.363 +/- 0.18507 C L(10 - 50) 
WW_mll_sigmaL =  9.9070 +/- 0.53376 C L(3 - 50) 
WW_mll_sigmaR =  9.5565 +/- 0.12204 C L(3 - 50) 
WW_mll_alphaL =  0.77715 +/- 0.11545 C L(0 - 10) 
WW_mll_alphaR =  0.12134 +/- 0.0027223 C L(0 - 10) 
ttbar_mll_mean =  26.363 +/- 0.18507 C L(10 - 50) 
ttbar_mll_sigmaL =  9.9070 +/- 0.53376 C L(3 - 50) 
ttbar_mll_sigmaR =  9.5565 +/- 0.12204 C L(3 - 50) 
ttbar_mll_alphaL =  0.77715 +/- 0.11545 C L(0 - 10) 
ttbar_mll_alphaR =  0.12134 +/- 0.0027223 C L(0 - 10) 
Z_mll_mean =  26.363 +/- 0.18507 C L(10 - 50) 
Z_mll_sigmaL =  9.9070 +/- 0.53376 C L(3 - 50) 
Z_mll_sigmaR =  9.5565 +/- 0.12204 C L(3 - 50) 
Z_mll_alphaL =  0.77715 +/- 0.11545 C L(0 - 10) 
Z_mll_alphaR =  0.12134 +/- 0.0027223 C L(0 - 10) 
other_mll_mean =  26.363 +/- 0.18507 C L(10 - 50) 
other_mll_sigmaL =  9.9070 +/- 0.53376 C L(3 - 50) 
other_mll_sigmaR =  9.5565 +/- 0.12204 C L(3 - 50) 
other_mll_alphaL =  0.77715 +/- 0.11545 C L(0 - 10) 
other_mll_alphaR =  0.12134 +/- 0.0027223 C L(0 - 10) 
sig_met_mean =  75.640 +/- 1.2708 L(0 - 180) 
sig_met_sigmaL =  22.202 +/- 1.7627 L(5 - 100) 
sig_met_sigmaR =  11.365 +/- 0.80027 L(5 - 100) 
sig_met_alphaL =  0.11536 +/- 0.038894 L(0 - 40) 
sig_met_alphaR =  0.11086 +/- 0.012330 L(0 - 40) 
WW_met_mean =  0.10000 C L(-INF - +INF) 
WW_met_sigmaL =  0.10000 C L(-INF - +INF) 
WW_met_sigmaR =  0.10000 C L(-INF - +INF) 
WW_met_alphaL =  0.10000 C L(-INF - +INF) 
WW_met_alphaR =  0.10000 C L(-INF - +INF) 
ttbar_met_mean =  0.10000 C L(-INF - +INF) 
ttbar_met_sigmaL =  0.10000 C L(-INF - +INF) 
ttbar_met_sigmaR =  0.10000 C L(-INF - +INF) 
ttbar_met_alphaL =  0.10000 C L(-INF - +INF) 
ttbar_met_alphaR =  0.10000 C L(-INF - +INF) 
Z_met_mean =  0.10000 C L(-INF - +INF) 
Z_met_sigmaL =  0.10000 C L(-INF - +INF) 
Z_met_sigmaR =  0.10000 C L(-INF - +INF) 
Z_met_alphaL =  0.10000 C L(-INF - +INF) 
Z_met_alphaR =  0.10000 C L(-INF - +INF) 
other_met_mean =  0.10000 C L(-INF - +INF) 
other_met_sigmaL =  0.10000 C L(-INF - +INF) 
other_met_sigmaR =  0.10000 C L(-INF - +INF) 
other_met_alphaL =  0.10000 C L(-INF - +INF) 
other_met_alphaR =  0.10000 C L(-INF - +INF) 
sig_1j_btag_bin1 =  0.55896 +/- 0.018939 L(0 - 1) 
sig_1j_btag_bin2 =  0.37629 +/- 0.027816 L(0 - 1) 
sig_1j_btag_bin3 =  0.33847 +/- 0.034387 L(0 - 1) 
sig_1j_btag_bin4 =  0.32802 +/- 0.041937 L(0 - 1) 
sig_1j_btag_bin5 =  0.38107 +/- 0.052885 L(0 - 1) 
sig_1j_btag_bin6 =  0.55770 +/- 0.068654 L(0 - 1) 
sig_1j_btag_bin7 =  0.86951 +/- 0.069735 L(0 - 1) 
WW_1j_btag_bin1 =  0.10000 C L(0 - 1) 
WW_1j_btag_bin2 =  0.10000 C L(0 - 1) 
WW_1j_btag_bin3 =  0.10000 C L(0 - 1) 
WW_1j_btag_bin4 =  0.10000 C L(0 - 1) 
WW_1j_btag_bin5 =  0.10000 C L(0 - 1) 
WW_1j_btag_bin6 =  0.10000 C L(0 - 1) 
WW_1j_btag_bin7 =  0.10000 C L(0 - 1) 
ttbar_1j_btag_bin1 =  0.10000 C L(0 - 1) 
ttbar_1j_btag_bin2 =  0.10000 C L(0 - 1) 
ttbar_1j_btag_bin3 =  0.10000 C L(0 - 1) 
ttbar_1j_btag_bin4 =  0.10000 C L(0 - 1) 
ttbar_1j_btag_bin5 =  0.10000 C L(0 - 1) 
ttbar_1j_btag_bin6 =  0.10000 C L(0 - 1) 
ttbar_1j_btag_bin7 =  0.10000 C L(0 - 1) 
Z_1j_btag_bin1 =  0.10000 C L(0 - 1) 
Z_1j_btag_bin2 =  0.10000 C L(0 - 1) 
Z_1j_btag_bin3 =  0.10000 C L(0 - 1) 
Z_1j_btag_bin4 =  0.10000 C L(0 - 1) 
Z_1j_btag_bin5 =  0.10000 C L(0 - 1) 
Z_1j_btag_bin6 =  0.10000 C L(0 - 1) 
Z_1j_btag_bin7 =  0.10000 C L(0 - 1) 
other_1j_btag_bin1 =  0.10000 C L(0 - 1) 
other_1j_btag_bin2 =  0.10000 C L(0 - 1) 
other_1j_btag_bin3 =  0.10000 C L(0 - 1) 
other_1j_btag_bin4 =  0.10000 C L(0 - 1) 
other_1j_btag_bin5 =  0.10000 C L(0 - 1) 
other_1j_btag_bin6 =  0.10000 C L(0 - 1) 
other_1j_btag_bin7 =  0.10000 C L(0 - 1) 

Nj_0_p1 =  1.0000 C L(-2 - 2) 
Nj_0_p2 =  0.0000 C L(-2 - 2) 
Nj_1_p1 = -1.000000 C L(-2 - 2) 
Nj_1_p2 =  0.0000 C L(-2 - 2) 
N_sig =  2072.9 +/- 45.528 L(-1000 - 100000) 
eff_sig =  0.66860 +/- 0.010338 L(0 - 1) 
N_WW =  0.0000 +/- 220.00 C L(-100 - 900000) 
eff_WW =  0.60246 +/- 0.0022246 C L(0 - 1) 
N_ttbar =  0.0000 +/- 50.000 C L(-500 - 10000) 
eff_ttbar =  0.16200 +/- 0.50000 C L(0 - 1) 
N_Z =  0.0000 +/- 50.000 C L(-500 - 10000) 
eff_Z =  0.16200 +/- 0.50000 C L(0 - 1) 
N_other =  0.0000 +/- 50.000 C L(-500 - 10000) 
eff_other =  0.69000 +/- 0.50000 C L(0 - 1) 


   [Observables]

jetcat = 0  C L(-1 - 1)
met   = 10 C L(0 - 200)
deltaPhi = 10 C L(0 - 180)
maxPtEle = 20 C L(20 - 200)
eleInvMass = 10 C L(12 - 150)
bTagImpPar = 0 C L(-1001 - 10)
weight = 1 C L(-100 - 10000)   
