
   [Parameters]
sig_deltaPhi_mean =  28.190 +/- 5.2657 L(0 - 180) 
sig_deltaPhi_sigmaL =  11.779 +/- 12.634 L(5 - 100) 
sig_deltaPhi_sigmaR =  56.741 +/- 6.9559 L(5 - 100) 
sig_deltaPhi_alphaL =  2.4531 +/- 1.7193 L(0 - 40) 
sig_deltaPhi_alphaR =  0.0031025 +/- 0.56334 L(0 - 40) 
WW_deltaPhi_mean =  0.10000 C L(-INF - +INF) 
WW_deltaPhi_sigmaL =  0.10000 C L(-INF - +INF) 
WW_deltaPhi_sigmaR =  0.10000 C L(-INF - +INF) 
WW_deltaPhi_alphaL =  0.10000 C L(-INF - +INF) 
WW_deltaPhi_alphaR =  0.10000 C L(-INF - +INF) 
ttbar_deltaPhi_p1 =  0.0000 C L(-100 - 100) 
ttbar_deltaPhi_p2 =  0.0000 C L(-100 - 100) 
Z_deltaPhi_mean =  0.10000 C L(-INF - +INF) 
Z_deltaPhi_sigmaL =  0.10000 C L(-INF - +INF) 
Z_deltaPhi_sigmaR =  0.10000 C L(-INF - +INF) 
Z_deltaPhi_alphaL =  0.10000 C L(-INF - +INF) 
Z_deltaPhi_alphaR =  0.10000 C L(-INF - +INF) 
other_deltaPhi_mean =  100.00 C L(0 - 180) 
other_deltaPhi_sigmaL =  0.10000 C L(-INF - +INF) 
other_deltaPhi_sigmaR =  0.10000 C L(-INF - +INF) 
other_deltaPhi_alphaL =  0.10000 C L(-INF - +INF) 
other_deltaPhi_alphaR =  0.10000 C L(-INF - +INF) 
sig_maxPt_mean =  33.376 +/- 1.1600 L(10 - 50) 
sig_maxPt_sigmaL =  7.6381 +/- 2.7612 L(3 - 50) 
sig_maxPt_sigmaR =  9.9975 +/- 0.72921 L(3 - 50) 
sig_maxPt_alphaL =  0.30663 +/- 0.54644 L(0 - 10) 
sig_maxPt_alphaR =  0.14843 +/- 0.0096412 L(0 - 10) 
WW_maxPt_mean =  20.000 C L(10 - 50) 
WW_maxPt_sigmaL =  10.000 C L(3 - 50) 
WW_maxPt_sigmaR =  10.000 C L(3 - 50) 
WW_maxPt_alphaL =  0.30000 C L(0 - 10) 
WW_maxPt_alphaR =  0.30000 C L(0 - 10) 
ttbar_maxPt_mean =  20.000 C L(10 - 50) 
ttbar_maxPt_sigmaL =  10.000 C L(3 - 50) 
ttbar_maxPt_sigmaR =  10.000 C L(3 - 50) 
ttbar_maxPt_alphaL =  0.30000 C L(0 - 10) 
ttbar_maxPt_alphaR =  0.30000 C L(0 - 10) 
Z_maxPt_mean =  0.10000 C L(-2 - 2) 
Z_maxPt_sigmaL =  0.10000 C L(-2 - 2) 
Z_maxPt_sigmaR =  0.10000 C L(-2 - 2) 
Z_maxPt_alphaL =  0.10000 C L(-2 - 2) 
Z_maxPt_alphaR =  0.10000 C L(-2 - 2) 
other_maxPt_mean =  20.000 C L(10 - 50) 
other_maxPt_sigmaL =  10.000 C L(3 - 50) 
other_maxPt_sigmaR =  10.000 C L(3 - 50) 
other_maxPt_alphaL =  0.30000 C L(0 - 10) 
other_maxPt_alphaR =  0.30000 C L(0 - 10) 
sig_met_mean =  43.566 +/- 1.7018 L(0 - 180) 
sig_met_sigmaL =  7.1840 +/- 0.97518 L(5 - 100) 
sig_met_sigmaR =  14.166 +/- 1.1833 L(5 - 100) 
sig_met_alphaL =  0.00000020422 +/- 0.0066309 L(0 - 40) 
sig_met_alphaR =  0.12549 +/- 0.011661 L(0 - 40) 
WW_met_mean1 =  0.0000 C L(-INF - +INF) 
WW_met_mean2 =  0.0000 C L(-INF - +INF) 
WW_met_sigma1 =  1.0000 C L(-INF - +INF) 
WW_met_sigma2 =  1.0000 C L(-INF - +INF) 
WW_met_f1 =  0.50000 C L(-INF - +INF) 
ttbar_met_mean =  0.10000 C L(-INF - +INF) 
ttbar_met_sigmaL =  0.10000 C L(-INF - +INF) 
ttbar_met_sigmaR =  0.10000 C L(-INF - +INF) 
ttbar_met_alphaL =  0.10000 C L(-INF - +INF) 
ttbar_met_alphaR =  0.10000 C L(-INF - +INF) 
Z_met_mean =  0.10000 C L(-INF - +INF) 
Z_met_sigmaL =  0.10000 C L(-INF - +INF) 
Z_met_sigmaR =  0.10000 C L(-INF - +INF) 
Z_met_alphaL =  0.10000 C L(-INF - +INF) 
Z_met_alphaR =  0.10000 C L(-INF - +INF) 
other_met_mean =  0.10000 C L(-INF - +INF) 
other_met_sigmaL =  0.10000 C L(-INF - +INF) 
other_met_sigmaR =  0.10000 C L(-INF - +INF) 
other_met_alphaL =  0.10000 C L(-INF - +INF) 
other_met_alphaR =  0.10000 C L(-INF - +INF) 
Nj_0_p1 =  1.0000 C L(-2 - 2) 
Nj_0_p2 =  0.0000 C L(-2 - 2) 
Nj_1_p1 = -1.000000 C L(-2 - 2) 
Nj_1_p2 =  0.0000 C L(-2 - 2) 
N_Z =  0.0000 +/- 50.000 C L(-500 - 10000) 
eff_Z =  0.16200 +/- 0.50000 C L(0 - 1) 
N_sig =  980.83 +/- 31.316 L(-1000 - 100000) 
eff_sig =  0.69621 +/- 0.014681 L(0 - 1) 
N_WW =  0.0000 +/- 220.00 C L(-100 - 900000) 
eff_WW =  0.60246 +/- 0.0022246 C L(0 - 1) 
N_ttbar =  0.0000 +/- 50.000 C L(-500 - 10000) 
eff_ttbar =  0.16200 +/- 0.50000 C L(0 - 1) 
N_other =  0.0000 +/- 50.000 C L(-500 - 10000) 
eff_other =  0.69000 +/- 0.50000 C L(0 - 1) 

   [Observables]
