
   [Parameters]
sig_deltaPhi_mean =  25.367 +/- 2.1609 C L(0 - 180) 
sig_deltaPhi_sigmaL =  5.0007 +/- 1.8624 L(5 - 100) 
sig_deltaPhi_sigmaR =  56.182 +/- 3.1928 L(5 - 100) 
sig_deltaPhi_alphaL =  2.2488 +/- 0.51069 L(0 - 40) 
sig_deltaPhi_alphaR =  0.010167 +/- 0.049195 L(0 - 40) 
WW_deltaPhi_mean =  0.10000 C L(-INF - +INF) 
WW_deltaPhi_sigmaL =  0.10000 C L(-INF - +INF) 
WW_deltaPhi_sigmaR =  0.10000 C L(-INF - +INF) 
WW_deltaPhi_alphaL =  0.10000 C L(-INF - +INF) 
WW_deltaPhi_alphaR =  0.10000 C L(-INF - +INF) 
ttbar_deltaPhi_p1 =  0.0000 C L(-100 - 100) 
ttbar_deltaPhi_p2 =  0.0000 C L(-100 - 100) 
Z_deltaPhi_mean =  0.10000 C L(-INF - +INF) 
Z_deltaPhi_sigmaL =  0.10000 C L(-INF - +INF) 
Z_deltaPhi_sigmaR =  0.10000 C L(-INF - +INF) 
Z_deltaPhi_alphaL =  0.10000 C L(-INF - +INF) 
Z_deltaPhi_alphaR =  0.10000 C L(-INF - +INF) 
other_deltaPhi_mean =  100.00 C L(0 - 180) 
other_deltaPhi_sigmaL =  0.10000 C L(-INF - +INF) 
other_deltaPhi_sigmaR =  0.10000 C L(-INF - +INF) 
other_deltaPhi_alphaL =  0.10000 C L(-INF - +INF) 
other_deltaPhi_alphaR =  0.10000 C L(-INF - +INF) 
sig_maxPt_mean =  32.977 +/- 0.71725 L(10 - 50) 
sig_maxPt_sigmaL =  6.6388 +/- 0.64051 L(3 - 50) 
sig_maxPt_sigmaR =  9.8566 +/- 0.53865 L(3 - 50) 
sig_maxPt_alphaL =  0.000023035 +/- 0.043645 L(0 - 10) 
sig_maxPt_alphaR =  0.14551 +/- 0.0076096 L(0 - 10) 
WW_maxPt_mean =  20.000 C L(10 - 50) 
WW_maxPt_sigmaL =  10.000 C L(3 - 50) 
WW_maxPt_sigmaR =  10.000 C L(3 - 50) 
WW_maxPt_alphaL =  0.30000 C L(0 - 10) 
WW_maxPt_alphaR =  0.30000 C L(0 - 10) 
ttbar_maxPt_mean =  20.000 C L(10 - 50) 
ttbar_maxPt_sigmaL =  10.000 C L(3 - 50) 
ttbar_maxPt_sigmaR =  10.000 C L(3 - 50) 
ttbar_maxPt_alphaL =  0.30000 C L(0 - 10) 
ttbar_maxPt_alphaR =  0.30000 C L(0 - 10) 
Z_maxPt_mean =  0.10000 C L(-2 - 2) 
Z_maxPt_sigmaL =  0.10000 C L(-2 - 2) 
Z_maxPt_sigmaR =  0.10000 C L(-2 - 2) 
Z_maxPt_alphaL =  0.10000 C L(-2 - 2) 
Z_maxPt_alphaR =  0.10000 C L(-2 - 2) 
other_maxPt_mean =  20.000 C L(10 - 50) 
other_maxPt_sigmaL =  10.000 C L(3 - 50) 
other_maxPt_sigmaR =  10.000 C L(3 - 50) 
other_maxPt_alphaL =  0.30000 C L(0 - 10) 
other_maxPt_alphaR =  0.30000 C L(0 - 10) 
sig_met_mean =  50.451 +/- 1.1809 L(0 - 180) 
sig_met_sigmaL =  10.066 +/- 0.68911 L(5 - 100) 
sig_met_sigmaR =  13.544 +/- 0.87941 L(5 - 100) 
sig_met_alphaL =  0.0000000024230 +/- 0.0043330 L(0 - 40) 
sig_met_alphaR =  0.11271 +/- 0.011223 L(0 - 40) 
WW_met_mean1 =  0.0000 C L(-INF - +INF) 
WW_met_mean2 =  0.0000 C L(-INF - +INF) 
WW_met_sigma1 =  1.0000 C L(-INF - +INF) 
WW_met_sigma2 =  1.0000 C L(-INF - +INF) 
WW_met_f1 =  0.50000 C L(-INF - +INF) 
ttbar_met_mean =  0.10000 C L(-INF - +INF) 
ttbar_met_sigmaL =  0.10000 C L(-INF - +INF) 
ttbar_met_sigmaR =  0.10000 C L(-INF - +INF) 
ttbar_met_alphaL =  0.10000 C L(-INF - +INF) 
ttbar_met_alphaR =  0.10000 C L(-INF - +INF) 
Z_met_mean =  0.10000 C L(-INF - +INF) 
Z_met_sigmaL =  0.10000 C L(-INF - +INF) 
Z_met_sigmaR =  0.10000 C L(-INF - +INF) 
Z_met_alphaL =  0.10000 C L(-INF - +INF) 
Z_met_alphaR =  0.10000 C L(-INF - +INF) 
other_met_mean =  0.10000 C L(-INF - +INF) 
other_met_sigmaL =  0.10000 C L(-INF - +INF) 
other_met_sigmaR =  0.10000 C L(-INF - +INF) 
other_met_alphaL =  0.10000 C L(-INF - +INF) 
other_met_alphaR =  0.10000 C L(-INF - +INF) 
Nj_0_p1 =  1.0000 C L(-2 - 2) 
Nj_0_p2 =  0.0000 C L(-2 - 2) 
Nj_1_p1 = -1.000000 C L(-2 - 2) 
Nj_1_p2 =  0.0000 C L(-2 - 2) 
N_sig =  1401.0 +/- 37.430 L(-1000 - 100000) 
eff_sig =  0.72163 +/- 0.011973 L(0 - 1) 
N_WW =  0.0000 +/- 220.00 C L(-100 - 900000) 
eff_WW =  0.60246 +/- 0.0022246 C L(0 - 1) 
N_ttbar =  0.0000 +/- 50.000 C L(-500 - 10000) 
eff_ttbar =  0.16200 +/- 0.50000 C L(0 - 1) 
N_Z =  0.0000 +/- 50.000 C L(-500 - 10000) 
eff_Z =  0.16200 +/- 0.50000 C L(0 - 1) 
N_other =  0.0000 +/- 50.000 C L(-500 - 10000) 
eff_other =  0.69000 +/- 0.50000 C L(0 - 1) 

   [Observables]
