
   [Parameters]
sig_deltaPhi_mean =  66.367 +/- 2.1609 C L(0 - 180) 
sig_deltaPhi_sigmaL =  94.679 +/- 8.9512 C L(5 - 100) 
sig_deltaPhi_sigmaR =  25.841 +/- 1.6127 C L(5 - 100) 
sig_deltaPhi_alphaL =  17.519 +/- 6.5846 C L(0 - 40) 
sig_deltaPhi_alphaR =  0.63408 +/- 0.054471 C L(0 - 40) 
WW_deltaPhi_mean =  179.56 +/- 0.098524 C L(0 - 180) 
WW_deltaPhi_sigmaL =  58.395 +/- 0.17555 C L(5 - 100) 
WW_deltaPhi_sigmaR =  6.1061 +/- 1.7001 C L(5 - 100) 
WW_deltaPhi_alphaL =  0.20581 +/- 0.0077220 C L(0 - 40) 
WW_deltaPhi_alphaR =  39.707 +/- 23.170 C L(0 - 40) 
ttbar_deltaPhi_p1 =  0.050869 +/- 0.0046931 L(-10 - 10) 
ttbar_deltaPhi_p2 = -0.000169566 +/- 0.000019157 L(-10 - 10) 
Z_deltaPhi_mean =  0.10000 C L(-INF - +INF) 
Z_deltaPhi_sigmaL =  0.10000 C L(-INF - +INF) 
Z_deltaPhi_sigmaR =  0.10000 C L(-INF - +INF) 
Z_deltaPhi_alphaL =  0.10000 C L(-INF - +INF) 
Z_deltaPhi_alphaR =  0.10000 C L(-INF - +INF) 
other_deltaPhi_mean =  0.10000 C L(-INF - +INF) 
other_deltaPhi_sigmaL =  0.10000 C L(-INF - +INF) 
other_deltaPhi_sigmaR =  0.10000 C L(-INF - +INF) 
other_deltaPhi_alphaL =  0.10000 C L(-INF - +INF) 
other_deltaPhi_alphaR =  0.10000 C L(-INF - +INF) 
sig_maxPt_mean =  40.819 +/- 0.16161 C L(10 - 50) 
sig_maxPt_sigmaL =  4.1476 +/- 1.1904 C L(3 - 50) 
sig_maxPt_sigmaR =  9.9636 +/- 0.30574 C L(3 - 50) 
sig_maxPt_alphaL =  0.081444 +/- 0.18198 C L(0 - 10) 
sig_maxPt_alphaR =  0.15032 +/- 0.0037191 C L(0 - 10) 
WW_maxPt_mean =  36.923 +/- 0.35784 C L(10 - 50) 
WW_maxPt_sigmaL =  4.8803 +/- 0.19923 C L(3 - 50) 
WW_maxPt_sigmaR =  21.172 +/- 0.35507 C L(3 - 50) 
WW_maxPt_alphaL =  0.000048904 +/- 0.0021567 C L(0 - 10) 
WW_maxPt_alphaR =  0.084935 +/- 0.0044860 C L(0 - 10) 
ttbar_maxPt_mean =  47.870 +/- 0.58986 L(10 - 50) 
ttbar_maxPt_sigmaL =  9.0696 +/- 0.42796 L(3 - 50) 
ttbar_maxPt_sigmaR =  22.693 +/- 0.83732 L(3 - 50) 
ttbar_maxPt_alphaL =  0.0018532 +/- 0.030647 L(0 - 10) 
ttbar_maxPt_alphaR =  0.12397 +/- 0.012739 L(0 - 10) 
Z_maxPt_mean =  0.10000 C L(-INF - +INF) 
Z_maxPt_sigmaL =  0.10000 C L(-INF - +INF) 
Z_maxPt_sigmaR =  0.10000 C L(-INF - +INF) 
Z_maxPt_alphaL =  0.10000 C L(-INF - +INF) 
Z_maxPt_alphaR =  0.10000 C L(-INF - +INF) 
other_maxPt_mean =  0.10000 C L(-INF - +INF) 
other_maxPt_sigmaL =  0.10000 C L(-INF - +INF) 
other_maxPt_sigmaR =  0.10000 C L(-INF - +INF) 
other_maxPt_alphaL =  0.10000 C L(-INF - +INF) 
other_maxPt_alphaR =  0.10000 C L(-INF - +INF) 
sig_mll_mean =  37.548 +/- 0.53615 C L(10 - 50) 
sig_mll_sigmaL =  21.965 +/- 1.2917 C L(3 - 50) 
sig_mll_sigmaR =  23.621 +/- 0.35535 C L(3 - 50) 
sig_mll_alphaL =  0.000033048 +/- 0.077753 C L(0 - 10) 
sig_mll_alphaR =  0.000098503 +/- 0.0022561 C L(0 - 10) 
WW_mll_mean1 =  74.343 +/- 1.0894 C L(0 - 180) 
WW_mll_mean2 =  99.669 +/- 1.4619 C L(30 - 180) 
WW_mll_sigma1 =  14.671 +/- 1.2971 C L(0 - 40) 
WW_mll_sigma2 =  41.550 +/- 1.2192 C L(10 - 100) 
WW_mll_f1 =  0.18260 +/- 0.027570 C L(0 - 1) 
ttbar_mll_p1 =  5.3861 +/- 0.22654 L(-10 - 10) 
ttbar_mll_p2 = -0.0288305 +/- 0.0012173 L(-10 - 10) 
Z_mll_mean =  0.10000 C L(-INF - +INF) 
Z_mll_sigmaL =  0.10000 C L(-INF - +INF) 
Z_mll_sigmaR =  0.10000 C L(-INF - +INF) 
Z_mll_alphaL =  0.10000 C L(-INF - +INF) 
Z_mll_alphaR =  0.10000 C L(-INF - +INF) 
other_mll_mean =  0.10000 C L(-INF - +INF) 
other_mll_sigmaL =  0.10000 C L(-INF - +INF) 
other_mll_sigmaR =  0.10000 C L(-INF - +INF) 
other_mll_alphaL =  0.10000 C L(-INF - +INF) 
other_mll_alphaR =  0.10000 C L(-INF - +INF) 
sig_met_mean =  75.594 +/- 0.36147 C L(0 - 180) 
sig_met_sigmaL =  22.386 +/- 0.45363 C L(5 - 100) 
sig_met_sigmaR =  11.294 +/- 0.25514 C L(5 - 100) 
sig_met_alphaL =  0.10979 +/- 0.012764 C L(0 - 40) 
sig_met_alphaR =  0.10818 +/- 0.0067609 C L(0 - 40) 
WW_met_mean1 =  21.476 +/- 0.62655 C L(0 - 180) 
WW_met_mean2 =  45.392 +/- 0.68290 C L(30 - 180) 
WW_met_sigma1 =  8.7755 +/- 0.57691 C L(0 - 10) 
WW_met_sigma2 =  27.184 +/- 0.33023 C L(10 - 100) 
WW_met_f1 =  0.13856 +/- 0.015111 C L(0 - 0.5) 
ttbar_met_mean =  26.848 +/- 0.12883 L(0 - 180) 
ttbar_met_sigmaL =  8.4698 +/- 0.097508 L(5 - 100) 
ttbar_met_sigmaR =  50.765 +/- 25.229 L(5 - 100) 
ttbar_met_alphaL =  0.14234 +/- 0.026173 L(0 - 40) 
ttbar_met_alphaR =  0.015688 +/- 0.083924 L(0 - 40) 
Z_met_mean =  0.10000 C L(-INF - +INF) 
Z_met_sigmaL =  0.10000 C L(-INF - +INF) 
Z_met_sigmaR =  0.10000 C L(-INF - +INF) 
Z_met_alphaL =  0.10000 C L(-INF - +INF) 
Z_met_alphaR =  0.10000 C L(-INF - +INF) 
other_met_mean =  0.10000 C L(-INF - +INF) 
other_met_sigmaL =  0.10000 C L(-INF - +INF) 
other_met_sigmaR =  0.10000 C L(-INF - +INF) 
other_met_alphaL =  0.10000 C L(-INF - +INF) 
other_met_alphaR =  0.10000 C L(-INF - +INF) 
Nj_0_p1 =  1.0000 C L(-2 - 2) 
Nj_0_p2 =  0.0000 C L(-2 - 2) 
Nj_1_p1 = -1.000000 C L(-2 - 2) 
Nj_1_p2 =  0.0000 C L(-2 - 2) 
N_WW =  0.0000 +/- 62.073 C L(-100 - 900000) 
eff_WW =  0.74386 +/- 0.0070317 C L(0 - 1) 
N_sig =  0.0000 +/- 85.901 C L(-100 - 900000) 
eff_sig =  0.27923 +/- 0.24210 C L(0 - 1) 
N_ttbar =  187.75 +/- 6.8980 L(-500 - 10000) 
eff_ttbar =  0.20603 +/- 0.014836 L(0 - 1) 
N_Z =  0.0000 C L(-INF - +INF) 
eff_Z =  0.0000 C L(-INF - +INF) 
N_other =  0.0000 +/- 50.000 C L(-500 - 10000) 
eff_other =  0.69000 +/- 0.50000 C L(0 - 1) 

   [Observables]
