
   [Parameters]
sig_deltaPhi_mean =  22.840 +/- 0.10660 L(0 - 180) 
sig_deltaPhi_sigmaL =  79.755 +/- 1.3599 L(5 - 100) 
sig_deltaPhi_sigmaR =  63.005 +/- 1.2400 L(5 - 100) 
sig_deltaPhi_alphaL =  40.000 +/- 39.771 L(0 - 40) 
sig_deltaPhi_alphaR =  0.087259 +/- 0.018827 L(0 - 40) 
WW_deltaPhi_mean =  0.10000 C L(-INF - +INF) 
WW_deltaPhi_sigmaL =  0.10000 C L(-INF - +INF) 
WW_deltaPhi_sigmaR =  0.10000 C L(-INF - +INF) 
WW_deltaPhi_alphaL =  0.10000 C L(-INF - +INF) 
WW_deltaPhi_alphaR =  0.10000 C L(-INF - +INF) 
ttbar_deltaPhi_p1 =  0.0000 C L(-100 - 100) 
ttbar_deltaPhi_p2 =  0.0000 C L(-100 - 100) 
Z_deltaPhi_mean =  0.10000 C L(-INF - +INF) 
Z_deltaPhi_sigmaL =  0.10000 C L(-INF - +INF) 
Z_deltaPhi_sigmaR =  0.10000 C L(-INF - +INF) 
Z_deltaPhi_alphaL =  0.10000 C L(-INF - +INF) 
Z_deltaPhi_alphaR =  0.10000 C L(-INF - +INF) 
other_deltaPhi_mean =  100.00 C L(0 - 180) 
other_deltaPhi_sigmaL =  0.10000 C L(-INF - +INF) 
other_deltaPhi_sigmaR =  0.10000 C L(-INF - +INF) 
other_deltaPhi_alphaL =  0.10000 C L(-INF - +INF) 
other_deltaPhi_alphaR =  0.10000 C L(-INF - +INF) 
sig_maxPt_mean =  17.140 +/- 0.70260 L(10 - 50) 
sig_maxPt_sigmaL =  37.246 +/- 17.586 L(3 - 50) 
sig_maxPt_sigmaR =  14.262 +/- 0.22366 L(3 - 50) 
sig_maxPt_alphaL =  7.1580 +/- 6.2720 L(0 - 10) 
sig_maxPt_alphaR =  0.11759 +/- 0.0036320 L(0 - 10) 
WW_maxPt_mean =  20.000 C L(10 - 50) 
WW_maxPt_sigmaL =  10.000 C L(3 - 50) 
WW_maxPt_sigmaR =  10.000 C L(3 - 50) 
WW_maxPt_alphaL =  0.30000 C L(0 - 10) 
WW_maxPt_alphaR =  0.30000 C L(0 - 10) 
ttbar_maxPt_mean =  20.000 C L(10 - 50) 
ttbar_maxPt_sigmaL =  10.000 C L(3 - 50) 
ttbar_maxPt_sigmaR =  10.000 C L(3 - 50) 
ttbar_maxPt_alphaL =  0.30000 C L(0 - 10) 
ttbar_maxPt_alphaR =  0.30000 C L(0 - 10) 
Z_maxPt_mean =  0.10000 C L(-2 - 2) 
Z_maxPt_sigmaL =  0.10000 C L(-2 - 2) 
Z_maxPt_sigmaR =  0.10000 C L(-2 - 2) 
Z_maxPt_alphaL =  0.10000 C L(-2 - 2) 
Z_maxPt_alphaR =  0.10000 C L(-2 - 2) 
other_maxPt_mean =  20.000 C L(10 - 50) 
other_maxPt_sigmaL =  10.000 C L(3 - 50) 
other_maxPt_sigmaR =  10.000 C L(3 - 50) 
other_maxPt_alphaL =  0.30000 C L(0 - 10) 
other_maxPt_alphaR =  0.30000 C L(0 - 10) 
sig_met_mean =  44.318 +/- 0.19693 L(0 - 180) 
sig_met_sigmaL =  7.5257 +/- 0.14204 L(5 - 100) 
sig_met_sigmaR =  14.322 +/- 0.24223 L(5 - 100) 
sig_met_alphaL =  0.0000000045399 +/- 0.0020146 L(0 - 40) 
sig_met_alphaR =  0.12247 +/- 0.0047208 L(0 - 40) 
WW_met_mean1 =  0.0000 C L(-INF - +INF) 
WW_met_mean2 =  0.0000 C L(-INF - +INF) 
WW_met_sigma1 =  1.0000 C L(-INF - +INF) 
WW_met_sigma2 =  1.0000 C L(-INF - +INF) 
WW_met_f1 =  0.50000 C L(-INF - +INF) 
ttbar_met_mean =  0.10000 C L(-INF - +INF) 
ttbar_met_sigmaL =  0.10000 C L(-INF - +INF) 
ttbar_met_sigmaR =  0.10000 C L(-INF - +INF) 
ttbar_met_alphaL =  0.10000 C L(-INF - +INF) 
ttbar_met_alphaR =  0.10000 C L(-INF - +INF) 
Z_met_mean =  0.10000 C L(-INF - +INF) 
Z_met_sigmaL =  0.10000 C L(-INF - +INF) 
Z_met_sigmaR =  0.10000 C L(-INF - +INF) 
Z_met_alphaL =  0.10000 C L(-INF - +INF) 
Z_met_alphaR =  0.10000 C L(-INF - +INF) 
other_met_mean =  0.10000 C L(-INF - +INF) 
other_met_sigmaL =  0.10000 C L(-INF - +INF) 
other_met_sigmaR =  0.10000 C L(-INF - +INF) 
other_met_alphaL =  0.10000 C L(-INF - +INF) 
other_met_alphaR =  0.10000 C L(-INF - +INF) 
Nj_0_p1 =  1.0000 C L(-2 - 2) 
Nj_0_p2 =  0.0000 C L(-2 - 2) 
Nj_1_p1 = -1.000000 C L(-2 - 2) 
Nj_1_p2 =  0.0000 C L(-2 - 2) 
N_sig =  3294.2 +/- 57.396 L(-1000 - 100000) 
eff_sig =  0.68486 +/- 0.0080941 L(0 - 1) 
N_WW =  0.0000 +/- 220.00 C L(-100 - 900000) 
eff_WW =  0.60246 +/- 0.0022246 C L(0 - 1) 
N_ttbar =  0.0000 +/- 50.000 C L(-500 - 10000) 
eff_ttbar =  0.16200 +/- 0.50000 C L(0 - 1) 
N_Z =  0.0000 +/- 50.000 C L(-500 - 10000) 
eff_Z =  0.16200 +/- 0.50000 C L(0 - 1) 
N_other =  0.0000 +/- 50.000 C L(-500 - 10000) 
eff_other =  0.69000 +/- 0.50000 C L(0 - 1) 

   [Observables]
